.Background {
    /* background full screen */
    width: 100vw;
    height: 100vh;
    margin:-8px;

    background: #1f170b;
    position: relative;
    font-family: 'NanumSquareRound';
}

/*********** Home ***********/

.Home {
    color: aliceblue;

    width: 540px;
    /*width: 95vw;*/
    position: absolute;
    margin-top: 50px;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/
    text-align: center;
}


/*********** Main ***********/

.Main {
    background: rgb(219, 185, 121);

    width: 540px;
    /*width: 95vw;*/
    position: absolute;
    margin-top: 50px;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/
}

.Question {
    background: beige;
    margin:20px;
    padding:10px;
    height: 300px;
}

.A1 {
    background: beige;
    margin:20px;
    padding:10px;
    height:100px;

    text-align: left;
    cursor: pointer;
}

.A2 {
    background: beige;
    margin:20px;
    padding:10px;
    height:100px;

    text-align: right;
    cursor: pointer;
}

.Answer {
    display: block;
}



/*********** Result ***********/

.Result {
    background: rgb(219, 185, 121);

    width: 540px;
    /*width: 95vw;*/
    position: absolute;
    margin-top: 50px;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/
}



/*for moblie*/
@media screen and (max-width:567px) {
    .Home{
        width: 95vw;
    }

    .Main{
        width: 95vw;
    }

    .Result{
        width: 95vw;
    }
}


/* font */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('./fonts/NanumSquareRoundR.ttf');
}