.background {
    /*background full screen*/
    width: 100vw;
    height: 100vh;
    margin:-8px; 

    background-color: #1f170b;
    position: relative;
    font-family: 'NanumSquareRound';
}

/*********** Home ***********/

.home {
    color: aliceblue;

    width: 540px;
    /*width: 95vw;*/
    position: absolute;
    margin-top: 50px;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/
    text-align: center;
}

.group-image{
    background-image: url(./images/home_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 400px;
}


/*********** Main ***********/

.main {
    /*background: rgb(219, 185, 121);*/
    background-image: url(./images/background.PNG);
    background-position: center;
    background-size: 540px 732px;

    width: 540px;
    height: 730px;
    /*width: 95vw;*/
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/

    /*margin-top: 10px;*/
    padding-top: 10px;

    text-align: center;
    word-break: keep-all;
}

.background-line {
    background-image: url(./images/background_line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 10px;
    width: 540px;
    height: 10px;
}


.question {
    font-size: 17pt;
    font-weight: bold;
    text-align: center;
    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    letter-spacing:-1pt;
    
    height:170px;
}

.a1 {
    height:110px;
    
    margin-left:50px;
    margin-right:50px;
    margin-top: 30px;

    font-size: 14pt;
    letter-spacing:-1pt;
    text-align: left;
    cursor: pointer;
}

.a2 {
    height:110px;

    margin-left:50px;
    margin-right:50px;
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 14pt;
    letter-spacing:-1pt;
    text-align: right;
    cursor: pointer;
}



/*********** Result ***********/

.result {
    background: rgb(219, 185, 121);

    letter-spacing:-2pt;

    width: 540px;
    /*width: 95vw;*/
    position: absolute;
    margin-top: 50px;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/
}



/*for moblie*/
@media screen and (max-width:567px) {
    .home{
        width: 95vw;
    }

    .main{
        width: 95vw;
    }


    .result{
        width: 95vw;
    }

    .background-line {
        background-size: 90vw 10px;
        width: 90vw;
    }
}


/* font */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('./fonts/NanumSquareRoundR.ttf');
}