.background {
    /*background full screen*/
    width: 100vw;
    height: 100vh;
    margin:-8px;
    overflow: scroll;

    
    background-color: #1f170b;
    position: relative;
    font-family: 'NanumSquareRoundB';
}

/*********** Home ***********/
.home {
    width: 540px;
    /*width: 95vw;*/
    position: absolute;
    margin-top: 50px;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/
    text-align: center;
}

.title{
    color: whitesmoke;
    letter-spacing:-1pt;
    font-size: 180%;
    padding:5%
}

.group-image{
    background-image: url(./images/home_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 5%;

    width: 100%;
    height: 400px;
}

.start-btn {
    background-color: antiquewhite;

    cursor:pointer;
    letter-spacing:-1pt;
    font-size:120%;
    
    display: inline;
    padding: 3%;
    padding-left: 8%;
    padding-right: 8%;

    border-radius: 20px;
}


/*********** Main ***********/

.main {
    /*background: rgb(219, 185, 121);*/
    background-image: url(./images/background_paper.png);
    background-position: center;
    background-size: 540px 732px;

    width: 540px;
    height: 730px;
    /*width: 95vw;*/
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/

    /*margin-top: 10px;*/
    padding-top: 10px;

    text-align: center;
    word-break: keep-all;
}

.background-line {
    background-image: url(./images/background_line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 10px;
    width: 540px;
    height: 10px;
}


.question {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    letter-spacing:-1pt;
    
    height:170px;
}

.a1 {
    height:110px;
    
    margin-left:50px;
    margin-right:50px;
    margin-top: 20px;

    font-size: 11pt;
    letter-spacing:-1pt;
    text-align: left;
    cursor: pointer;
}

.a2 {
    height:110px;

    margin-left:50px;
    margin-right:50px;
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 11pt;
    letter-spacing:-1pt;
    text-align: right;
    cursor: pointer;
}



/*********** Result ***********/

.result {
    background: rgb(219, 185, 121);

    letter-spacing:-1pt;

    width: 540px;
    /*width: 95vw;*/
    position: absolute;
    margin-top: 10px;
    border-bottom: 100px solid #1f170b;
    
    right: 50%;
    left: 50%;
    transform: translate(-50% ,0); /*(가로, 세로)*/

    text-align: center;
    word-break: keep-all;

}

.drink-name {
    font-family: 'NanumSquareRoundEB';
    font-size: 170%;

    margin-top: 10%;
}

.drink-graphic{
    width: 300px;
    display: inline;
}

.tape-title {
    background-image: url(./images/tape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    line-height: 50px;

    position: relative;
    
    margin-bottom: -35px;
    z-index: 1;

    font-family: 'NanumSquareRoundEB';
    text-align:center;
}

.drink-characteristic {
    text-align: left;
    border: 1px dotted #1f170b;
    background-color: rgb(255, 249, 212);
    margin: 5%;
    padding: 3.5%;
    padding-top: 7%;

    border-radius: 15px;
}

.drink-characteristic-item {
    margin:1.5%;
}

.human-character {
    text-align: left;
    border: 1px dotted #1f170b;
    background-color: rgb(255, 249, 212);;
    margin: 5%;
    padding: 3.5%;
    padding-top: 7%;

    border-radius: 15px;
}

.human-character-item-false {
    margin:1.5%;    
    
    cursor: pointer;
}

.human-character-item-true {
    margin:1.5%;
    border-radius: 5px;
    
    background-color: #ffe46e;
    cursor: pointer;
}

.relation-drink-cover {
    clear: both;
    width: 100%;
    margin: 5%;
    
}

.relation-drink {
    width: 36%;
    float: left;
    border: 1px dotted #1f170b;
    background-color: rgb(255, 249, 212);;
    padding: 3%;

    margin-bottom: 5%;

    border-radius: 15px;
}

.retry-btn {
    clear: both;
    background-color: rgb(255, 249, 212);;
    font-size: 130%;
    margin: 5%;
    padding: 5%;

    cursor: pointer;

    border-radius: 20px;
}

.share-btn {
    clear: both;
    color: #f0f8ff;
    background-color: #7e581f;
    font-size: 130%;
    margin: 5%;
    padding: 5%;

    cursor: pointer;

    border-radius: 20px;
}

.png-card {
    background-color: rgb(219, 185, 121);
    overflow-y: scroll;
    overflow-x: hidden;
}

.adfit-result{
    left: 0;
    right: 0;
    background-color: #1f170b;
    border: 2px solid #1f170b;
}


.loading {
    z-index:100;
    color: #f0f8ff;
    background-color:#1f170b;
    position:fixed;
    left:50%;
    right:50%;
    transform: translate(-50%,0);

    width: 100vw;
    height: 100vh;

    display: inline;
    text-align: center;
    padding-top: 45vh;

    word-break: keep-all;
}



/*for moblie*/
@media screen and (max-width:567px) {
    .home{
        width: 95vw;
    }

    .main{
        width: 95vw;
    }


    .result{
        width: 95vw;
    }

    .drink-graphic{
        width:50vw;
    }

    

    .background-line {
        background-size: 90vw 10px;
        width: 90vw;
    }

}


/* font */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('./fonts/NanumSquareRoundR.ttf');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url('./fonts/NanumSquareRoundEB.ttf');
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('./fonts/NanumSquareRoundB.ttf');
}